ELEVENLABS_API_KEY=
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_SPANISH_MALE_VOICE_ID=
ELEVENLABS_SPANISH_FEMALE_VOICE_ID=
ELEVENLABS_ENGLISH_MALE_VOICE_ID=
ELEVENLABS_ENGLISH_FEMALE_VOICE_ID=
LOCAL_TTS_ENGLISH_VOICE_NAME=
LOCAL_TTS_SPANISH_VOICE_NAME=