ELEVENLABS_API_KEY=
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_SPANISH_MALE_VOICE_ID=
ELEVENLABS_SPANISH_FEMALE_VOICE_ID=
ELEVENLABS_ENGLISH_MALE_VOICE_ID=
ELEVENLABS_ENGLISH_FEMALE_VOICE_ID=
ELEVENLABS_SPANISH_NARRATOR_VOICE_ID=
ELEVENLABS_ENGLISH_NARRATOR_VOICE_ID=
ELEVENLABS_COLOMBIAN_SPANISH_MALE_VOICE_ID=
ELEVENLABS_COLOMBIAN_SPANISH_FEMALE_VOICE_ID=
ELEVENLABS_ARGENTINIAN_SPANISH_MALE_VOICE_ID=
ELEVENLABS_ARGENTINIAN_SPANISH_FEMALE_VOICE_ID=
ELEVENLABS_MEXICAN_SPANISH_MALE_VOICE_ID=
ELEVENLABS_MEXICAN_SPANISH_FEMALE_VOICE_ID=
ELEVENLABS_DOMINICAN_SPANISH_MALE_VOICE_ID=
ELEVENLABS_DOMINICAN_SPANISH_FEMALE_VOICE_ID=
ELEVENLABS_BRITISH_ENGLISH_MALE_VOICE_ID=
ELEVENLABS_BRITISH_ENGLISH_FEMALE_VOICE_ID=
ELEVENLABS_AMERICAN_ENGLISH_MALE_VOICE_ID=
ELEVENLABS_AMERICAN_ENGLISH_FEMALE_VOICE_ID=
ELEVENLABS_IRISH_ENGLISH_MALE_VOICE_ID=
ELEVENLABS_IRISH_ENGLISH_FEMALE_VOICE_ID=
ELEVENLABS_AUSTRALIAN_ENGLISH_MALE_VOICE_ID=
ELEVENLABS_AUSTRALIAN_ENGLISH_FEMALE_VOICE_ID=
LOCAL_TTS_ENGLISH_VOICE_NAME=
LOCAL_TTS_SPANISH_VOICE_NAME=
